In [1]:
# importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
import requests
from bs4 import BeautifulSoup
import json
%matplotlib inline

In [2]:
df = pd.read_csv('data/redfin_2020-09-06-14-34-34.csv')
df.columns = [c.lower().replace(' ', '_') for c in df.columns]
cols_to_drop = [0,1,2,3,4,5,10,12,14,15,16,17,18,19,20,21,22,23,24]
df.drop(df.columns[cols_to_drop],axis=1,inplace=True)
df.rename(columns={'zip_or_postal_code': 'zipcode', 'square_feet': 'sqft_above'}, inplace=True)

df.dropna()
df.head()

   zipcode   price  beds  baths  sqft_above  year_built   latitude   longitude
0    98346  440005   3.0   1.75      1759.0      1992.0  47.757648 -122.477474
1    98346  869000   4.0   3.00      4326.0      2007.0  47.763032 -122.480182
2    98346  660000   2.0   2.50      2423.0      1981.0  47.786547 -122.500788
3    98346  269900   3.0   2.00      1138.0      1991.0  47.812363 -122.575620
4    98346  305000   3.0   2.00      1504.0      2005.0  47.813073 -122.576232

[('sqft_above',
 ('dist_to_seattle_center',
 ('med_income',
 ('home_age',
 ('bed_bath',
 ('bsmt_med',
 ('bsmt_large',
 ('bsmt_xlarge',
 ('three_story',]

In [3]:
def calc_age(x):
    if x == 0:
        age = 0
    else:
        age = 2020 - x
    return age
df['home_age'] = df['year_built'].map(calc_age)
df.drop(columns=['year_built'], inplace=True)

In [4]:
import json
from geopy.distance import geodesic
from geopy.geocoders import Nominatim
def get_distances(org_lat, org_long, dest_lat, dest_long):
    
    origin = (org_lat, org_long)
    destination = (dest_lat, dest_long)
    
    distance = geodesic(origin, destination).miles
    
    return distance

coords = list(zip(df.latitude, df.longitude))
seattle_center = (47.6219, -122.3517)
seattle_center_dist = [get_distances(coords[k][0], coords[k][1],
                       seattle_center[0], seattle_center[1]) for k in range(len(coords))]
df['distance_to_seattle_center'] = seattle_center_dist

In [5]:
#df1 = pd.read_csv('data/zipcodedata.csv')
#df = df.merge(df1, on='zipcode', how='outer')
#df

In [6]:
#(max-min)*predicted_price + mean(predicted prices) = x, e^x=price
#X_train, X_train, y_train, y_test = train_test_split(X_degree2, y, test_size=0.3, random_state=123)
#reg_poly2 = LinearRegression().fit(X_degree2, y)
#y_hat_train = reg_poly2.predict(X_train)
#y_hat_test = reg_poly2.predict(X_test)
#plt.plot(X, y_poly, linewidth=2, label='degree %d' % degree)
#plt.legend(loc='lower left')