In [2]:
import pandas as pd
a = pd.read_csv('kc_housing_distances.csv')
b = pd.read_csv('zipcodedata.csv')
df = pd.merge(a, b, how = 'outer', on = 'zipcode')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,distance_to_discovery_park,minimum_distance_to_metro,population,land,population_density,units,units_occupied,med_value,med_income,calc_pd
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0.0,0.0,...,12.249694,1.302968,24092,4.85,4966,9290,8668,283100.0,58707.0,4967.422680
1,4060000240,2014-06-23,205425.0,2,1.00,880,6780,1.0,0.0,0.0,...,13.074902,2.089548,24092,4.85,4966,9290,8668,283100.0,58707.0,4967.422680
2,4058801670,2014-07-17,445000.0,3,2.25,2100,8201,1.0,0.0,2.0,...,12.720516,1.894527,24092,4.85,4966,9290,8668,283100.0,58707.0,4967.422680
3,2976800796,2014-09-25,236000.0,3,1.00,1300,5898,1.0,0.0,0.0,...,12.639671,1.643102,24092,4.85,4966,9290,8668,283100.0,58707.0,4967.422680
4,6874200960,2015-02-27,170000.0,2,1.00,860,5265,1.0,0.0,0.0,...,12.244964,1.264256,24092,4.85,4966,9290,8668,283100.0,58707.0,4967.422680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21415,2525049086,2014-03-10,2720000.0,4,3.25,3990,18115,2.0,0.0,0.0,...,8.683700,4.137484,2971,1.44,2059,1163,1062,1000001.0,183833.0,2063.194444
21416,2525049113,2014-07-25,1950000.0,4,3.50,4065,18713,2.0,0.0,0.0,...,8.259807,3.703551,2971,1.44,2059,1163,1062,1000001.0,183833.0,2063.194444
21417,3262300485,2015-04-21,2250000.0,5,5.25,3410,8118,2.0,0.0,0.0,...,8.143454,3.462462,2971,1.44,2059,1163,1062,1000001.0,183833.0,2063.194444
21418,6447300365,2014-11-13,2900000.0,5,4.00,5190,14600,2.0,0.0,1.0,...,9.035146,4.118677,2971,1.44,2059,1163,1062,1000001.0,183833.0,2063.194444
21419,3262300818,2015-02-27,1870000.0,4,3.75,3790,8797,2.0,0.0,0.0,...,8.060567,3.324468,2971,1.44,2059,1163,1062,1000001.0,183833.0,2063.194444

In [3]:
df.to_csv('DataTable.csv', index=False)